<!DOCTYPE html>
<html lang="en">
<head>
    <title>FlyTicket</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="favicon-16x16.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="search.js"></script>
    <link rel = "stylesheet" type = "text/css" href="fly.css"/>
</head>

<body>

    <div class="header">
            <center id="container" class="title"><h2 class="banner">Flight   Ticket   Search</h2></center>
            <!-- <center><h4>AngularJS + Node + MongoDB</h4></center> -->
            <!-- main UI code -->
            <div id="container" ng-app="myApp" ng-controller="formCtrl">
                    <form>
                        Depart From:
                        <select id="dep" ng-model="departFrom" style="width: 220px; height: 35px">
                            <option id="1"  ng-repeat="x in city" value="{{x.name}}">{{x.name}}</option>
                        </select>
                        Your Destination:
                        <select id="des" ng-model="yourDestination" style="width: 220px; height: 35px">
                            <option ng-repeat="x in city" value="{{x.name}}">{{x.name}}</option>
                        </select>
                        Depart Date:
                        <input id="dedate" type="date" placeholder="MM/DD/YY" ng-model="user.departDate">
                        Return Date:
                        <input id="redate" type="date" placeholder="MM/DD/YY" ng-model="user.returnDate">
    
                        <button id="btnSearch" class="btn btn-dark" type="button" onclick="func()">Search</button>
                        <span id="status"></span>
                    </form>
                    <progress id="progressBar" value="0" max="100" style="width: 100%; height: 5px; color: white;">
                    </progress>
                </div>
    </div>
    <div class="topnav"></div>

    <!-- dynamic table -->
    <div class="main-body">
        <div class="main-column">
            <table id="mytable">
                    <tr>
                        <th>Carrier Name</th><th>Depart Code</th><th>Leaving Time</th><th>yourDestination Code</th><th>Arriving Time</th><th>Price</th>
                    </tr>
            </table>
        </div>
    </div>
    
    <footer>
        <div class="topnav"></div>
        <p>© Copyright 2019-2020 World-IT.com. All rights reserved</p>
    </footer>

    <script>
            var app = angular.module('myApp', []);
            app.controller('formCtrl', function($scope) {
                $scope.city =[
                    {name: "Aalborg, DK-AAL"},
                    {name: "Abu Dhabi, AE-AUH"},
                    {name: "Abuja, NG-ABV"},
                    {name: "Accra, GH-ACC"},
                    {name: "Adelaide, AU-ADL"},
                    {name: "Afyon, TR-AFY"},
                    {name: "Agadir, MA-AGA"},
                    {name: "Ahmedabad, IN-AMD"},
                    {name: "Aizawl, IN-AJL"},
                    {name: "Ajaccio, FR-AJA"},
                    {name: "Akita, JP-AXT"},
                    {name: "Alicante, ES-ALC"},
                    {name: "Amsterdam, NL-AMS"},
                    {name: "Antalya, TR-AYT"},
                    {name: "Aomori, JP-AOJ"},
                    {name: "Appleton, WI-ATW"},
                    {name: "Aqaba, JO-AQJ"},
                    {name: "Aruba, AW-AUA"},
                    {name: "Astana, KZ-TSE"},
                    {name: "Atlanta, GA-ATL"},                                        
                    {name: "Auckland, NZ-AKL"},
                    {name: "Avignon, FR-AVN"},
                    {name: "Awasa, ET-AWA"},
                    {name: "Ayacucho, PE-AYP"},
                    {name: "Bangalore, IN-BLR"},
                    {name: "Bangkok, TH-BKK"},
                    {name: "Barcelona, ES-BCN"},
                    {name: "Beijing, CN-BJS"},
                    {name: "Berlin, DE-BER"},
                    {name: "Bhubaneswar, IN-BBI"},
                    {name: "Birmingham, GB-BHX"},
                    {name: "Boston, MA-BOS"},                    
                    {name: "Bogota, CO-BOG"},
                    {name: "Brisbane, AU-BNE"},
                    {name: "Brussels, BE-BRU"},                    
                    {name: "Buenos Aires, AR-BUE"},
                    {name: "Bydgoszcz, PL-BZG"},
                    {name: "Cairo, EG-CAI"},
                    {name: "Cebu, PH-CEB"},
                    {name: "Charlotte, NC-CLT"},
                    {name: "Chengdu, CN-CTU"},
                    {name: "Chicago, IL-CHI"},
                    {name: "Chongqing, CN-CKG"},
                    {name: "Cinicinnati, OH-CVG"},
                    {name: "Cleveland, OH-CLE"},
                    {name: "Copenhagen, DK-CPH"}, 
                    {name: "Creston, IA-CSQ"},
                    {name: "Curitiba, BR-CWB"},
                    {name: "Cyangugu, RW-KME"},
                    {name: "Czestochowa, PL-CZW"},                                       
                    {name: "Dallas, TX-DFW"},
                    {name: "Delhi, IN-DEL"},                    
                    {name: "Denver, CO-DEN"},
                    {name: "Detroit, MI-DTT"},
                    {name: "Dhaka, BD-DAC"},
                    {name: "Diyarbakir, TR-DIY"},
                    {name: "Djibouti, DJ-JIB"},
                    {name: "Doha, QA-DOH"},
                    {name: "Dresden, DE-DRS"},
                    {name: "Dschang, CM-DSC"},
                    {name: "Dubai, AE-DXB"},
                    {name: "Dublin, IE-DUB"},
                    {name: "Düsseldorf, DE-DUS"},
                    {name: "Dwangwa, MW-DWA"},
                    {name: "Dysart, AU-DYA"},
                    {name: "Dzaoudzi, YT-DZA"},
                    {name: "East London, ZA-ELS"},
                    {name: "Ebolowa, CM-EBW"},
                    {name: "Echuca, AU-ECH"},
                    {name: "Edinburgh, GB-EDI"},
                    {name: "Edmonton, AB-YEA"},
                    {name: "Eek, AK-EEK"},
                    {name: "Efogi, PG-EFG"},
                    {name: "Egilsstadir, IS-EGS"},
                    {name: "Eindhoven, NL-EIN"},
                    {name: "Ejina Banner, CN-EJN"},
                    {name: "Ekwok, AK-KEK"},
                    {name: "El Paso, TX-ELP"},
                    {name: "Emerald, AU-EMD"},
                    {name: "Entebbe, UG-EBB"},
                    {name: "Epinal, FR-EPL"},
                    {name: "Eqalugaarsuit Heliport, GL-QFG"},
                    {name: "Ercan, CY-ECN"},
                    {name: "Esmeraldas, EC-ESM"},
                    {name: "Etadunna, AU-ETD"},
                    {name: "Eugene, OR-EUG"},
                    {name: "Evansville, IN-EVV"},
                    {name: "Ewer, ID-EWE"},
                    {name: "Exeter, GB-EXT"},
                    {name: "Faro, PT-FAO"},
                    {name: "F'derik, MR-FGD"},
                    {name: "Fes, MA-FEZ"},
                    {name: "Florianpolis, BR-FLN"},
                    {name: "Fort Lauderdale, FL-FLL"},
                    {name: "Frankfurt, DE-FRA"},
                    {name: "Ft McMurray, AB-YMM"},
                    {name: "Fukuoka, JP-FUK"},
                    {name: "Gbadolite, CD-BDT"},
                    {name: "Gdansk, PL-GDN"},
                    {name: "Geneva, CH-GVA"},
                    {name: "Ghardaia, DZ-GHA"},
                    {name: "Girona, ES-GRO"},
                    {name: "Gjoa Haven, NU-YHK"},
                    {name: "Glasgow, GB-GLA"},
                    {name: "Gold Coast, AU-OOL"},
                    {name: "Grand Forks, ND-GFK"},
                    {name: "Grand Rapids, MI-GRR"},
                    {name: "Guangzhou, CN-CAN"},
                    {name: "Gwalior, IN-GWL"},
                    {name: "Gyumri, AM-LWN"},
                    {name: "Hangzhou, CN-HGH"},
                    {name: "Hanoi, VN-HAN"},
                    {name: "Helsinki, FI-HEL"},
                    {name: "Hirosima, JP-HIJ"},
                    {name: "Hjorring, DK-QHJ"},
                    {name: "Hluhluwe, ZA-HLW"},
                    {name: "Hong Kong, HK-HKG"},
                    {name: "Honolulu, HI-HNL"},
                    {name: "Houston, TX-HOU"},
                    {name: "Ho Chi Minh City, VN-SGN"},
                    {name: "Hsinchu, TW-HSZ"},
                    {name: "Hurghada, EG-HRG"},
                    {name: "Hvammstangi, IS-HVM"},
                    {name: "Hwange, ZW-WKI"},
                    {name: "Hyderabad, IN-HYD"},
                    {name: "Ibiza, ES-IBZ"},
                    {name: "Icabaru, VE-ICA"},
                    {name: "Idaho Falls, ID-IDA"},
                    {name: "Iejima, JP-IEJ"},
                    {name: "Ifuru, MV-IFU"},
                    {name: "Iguazu Falls, BR-IGU"},
                    {name: "Ihosy, MG-IHO"},
                    {name: "Ijui, BR-IJU"},
                    {name: "Ikaria Island, GR-JIK"},
                    {name: "Ilheus, BR-IOS"},
                    {name: "Imphal, IN-IMF"},
                    {name: "Ioannina, GR-IOA"},
                    {name: "Ipoh, MY-IPH"},
                    {name: "Iquitos, PE-IQT"},
                    {name: "Irkutsk, RU-IKT"},
                    {name: "Isfahan, IR-IFN"},
                    {name: "Istanbul, TR-IST"},
                    {name: "Ithaca, NY-ITH"},
                    {name: "Ivano-Frankivsk, UA-IFO"},
                    {name: "Iwakuni, JP-IWK"},
                    {name: "Izumo, JP-IZO"},
                    {name: "Jakarta, ID-JKT"},
                    {name: "Jeddah, SA-JED"},
                    {name: "Jharsuguda, IN-JRG"},
                    {name: "Jinan, CN-TNA"},
                    {name: "Johannesburg, ZA-JNB"},
                    {name: "Jwaneng, BW-JWA"},
                    {name: "Jyvaskyla, FI-JYV"},
                    {name: "Karachi, PK-KHI"},
                    {name: "Kelowna, BC-YLW"},
                    {name: "Khartoum, SD-KRT"},
                    {name: "Kiev, UA-IEV"},
                    {name: "Klagenfurt, AT-KLU"},
                    {name: "Knock, IE-NOC"},
                    {name: "Kolkata, IN-CCU"},
                    {name: "Krakow, PL-KRK"},
                    {name: "Kuala Lumpur, MY-KUL"},
                    {name: "Kunming, CN-KMG"},
                    {name: "Kuwait, KW-KWI"},
                    {name: "Kwajalein, MH-KWA"},
                    {name: "Kythira, GR-KIT"},
                    {name: "Kzyl-Orda, KZ-KZO"},
                    {name: "Las Vegas, NV-LAS"},
                    {name: "Leeds Bradford, GB-LBA"},
                    {name: "Lhasa-Lasa, CN-LXA"},
                    {name: "Lima, PE-LIM"},
                    {name: "Lisbon, PT-LIS"},
                    {name: "Ljubljana, SI-LJU"},
                    {name: "Lleida, ES-ILD"},
                    {name: "London, GB-LON"},
                    {name: "Los Angeles, CA-LAX"},
                    {name: "Lucknow, IN-LKO"},
                    {name: "Lviv, UA-LWO"},
                    {name: "Lwbak, PH-LWA"},
                    {name: "Lyon, FR-LYS"},
                    {name: "Madrid, ES-MAD"},                    
                    {name: "Makassar, ID-UPG"},
                    {name: "Malaga, ES-AGP"},
                    {name: "Manila, PH-MNL"},
                    {name: "Manchester, GB-MAN"},
                    {name: "Marseille, FR-MRS"},
                    {name: "Mbeya, TZ-MBI"},
                    {name: "Melbourne, AU-MEL"},
                    {name: "Mexico City, MX-MEX"},
                    {name: "Mfuwe, ZM-MFU"},
                    {name: "Miami, FL-MIA"},
                    {name: "Milan, IT-MIL"},
                    {name: "Minneapolis, MN-MSP"},
                    {name: "Mmabatho-Mafikeng, ZA-MBD"},
                    {name: "Montreal, QC-YMQ"},
                    {name: "Moscow, RU-MOW"}, 
                    {name: "Mtwara, TZ-MYW"},                   
                    {name: "Munich, DE-MUC"},
                    {name: "Mumbai, IN-BOM"},
                    {name: "Mwanza, TZ-MWZ"},
                    {name: "Myrtle Beach, SC-MYR"},
                    {name: "Mzamba, ZA-MZF"},
                    {name: "Nanjing, CN-NKG"},
                    {name: "Ndola, ZM-NLA"},
                    {name: "New York, NY-NYC"},
                    {name: "Newark, NJ-EWR"},
                    {name: "Ngaoundere, CM-NGE"},
                    {name: "Nha Trang, VN-NHA"},
                    {name: "Nice, FR-NCE"},
                    {name: "Njombe, TZ-JOM"},
                    {name: "Nkan, GA-NKA"},
                    {name: "Nottingham, GB-NQT"},
                    {name: "Nuremberg, DE-NUE"},
                    {name: "Nyaung-U, MM-NYU"},
                    {name: "Nzerekore, GN-NZE"},
                    {name: "Oakland, CA-OAK"},
                    {name: "Obihiro, JP-OBO"},
                    {name: "Ocean Reef, FL-OCA"},
                    {name: "Odessa, UA-ODS"},
                    {name: "Oenpelli, AU-OPI"},
                    {name: "Ofu Island, AS-OFU"},
                    {name: "Ogle, GY-OGL"},
                    {name: "Ohrid, MK-OHD"},
                    {name: "Oita, JP-OIT"},
                    {name: "Okinawa, JP-OKA"},
                    {name: "Olbia, IT-OLB"},
                    {name: "Omaha, NE-OMA"},
                    {name: "Ondjiva, AO-VPE"},
                    {name: "Oodnadatta, AU-ODD"},
                    {name: "Opapamiska Lake, ON-YBS"},
                    {name: "Oqatsut, GL-XEO"},
                    {name: "Orlando, FL-ORL"},                    
                    {name: "Osaka, JP-OSA"},
                    {name: "Oslo, NO-OSL"},
                    {name: "Ottawa, ON-YOW"},
                    {name: "Oulu, FI-OUL"},
                    {name: "Ovda, IL-VDA"},
                    {name: "Owerri, NG-QOW"},
                    {name: "Oxford House, MB-YOH"},
                    {name: "Oyo, CG-OLL"},
                    {name: "Ozamis, PH-OZC"},
                    {name: "Palma, ES-PMI"},
                    {name: "Paris, FR-PAR"},
                    {name: "Perth, AU-PER"},
                    {name: "Pforzheim, DE-UPF"},
                    {name: "Philadelphia, PA-PHL"},
                    {name: "Phoenix, AZ-PHX"},
                    {name: "Pittsburgh, PA-PIT"},
                    {name: "Pleiku, VN-PXU"},
                    {name: "Portland, OR-PDX"},
                    {name: "Porto, PT-OPO"},
                    {name: "Prague, CZ-PRG"},
                    {name: "Pune, IN-PNQ"},
                    {name: "Pweto, CD-PWO"},
                    {name: "Pyrgos, GR-PYR"},
                    {name: "Qaisumah, SA-AQI"},
                    {name: "Qeshm-Gheshm, IR-GSM"},
                    {name: "Qingdao, CN-TAO"},
                    {name: "Quanzhou, CN-JJN"},
                    {name: "Queenstown, NZ-ZQN"},
                    {name: "Quito, EC-UIO"},
                    {name: "Raleigh, NC-RDU"},
                    {name: "Reykjavik, IS-REK"},
                    {name: "Rhodes, GR-RHO"},
                    {name: "Rio de Janeiro, BR-RIO"},
                    {name: "Riyadh, SA-RUH"},                    
                    {name: "Rome, IT-ROM"},
                    {name: "Rurrenabaque, BO-RBQ"},
                    {name: "Rybinsk, RU-RYB"},
                    {name: "Rzeszow, PL-RZE"},
                    {name: "Sao Paulo, BR-SAO"},
                    {name: "San Francisco, CA-SFO"},
                    {name: "Seattle, WA-SEA"},
                    {name: "Sfax, TN-SFA"},
                    {name: "Shanghai, CN-SHA"},
                    {name: "Shenzhen, CN-SZX"},
                    {name: "Singapore, SG-SIN"},
                    {name: "Skopje, MK-SKP"},
                    {name: "Sofia, BG-SOF"},
                    {name: "Spokane, WA-GEG"},
                    {name: "Squamish, BC-YSE"},
                    {name: "Srinagar, IN-SXR"},
                    {name: "Stockholm, SE-STO"},
                    {name: "Surabaya, ID-SUB"},
                    {name: "Svolvaer, NO-SVJ"},
                    {name: "Swan Hill, AU-SWH"},
                    {name: "Sydney, AU-SYD"},
                    {name: "Szczecin, PL-SZZ"},
                    {name: "Taipei, TW-TPE"},
                    {name: "Tbilisi, GE-TBS"},
                    {name: "Tenerife, ES-TCI"},
                    {name: "Tianjin, CN-TSN"},
                    {name: "Tlemcen, DZ-TLM"},
                    {name: "Tokyo, JP-TYO"},
                    {name: "Toronto, ON-YTO"},
                    {name: "Trondheim, NO-TRD"},
                    {name: "Tsushima, JP-TSJ"},
                    {name: "Turin, IT-TRN"},
                    {name: "Tver, RU-KLD"},
                    {name: "Twin Falls, ID-TWF"},
                    {name: "Tyumen, RU-TJM"},
                    {name: "Tzaneen, ZA-LTA"},
                    {name: "Ua Pou, PF-UAP"},
                    {name: "Ube, JP-UBJ"},
                    {name: "Uberlandia, BR-UDI"},
                    {name: "Udaipur, IN-UDR"},
                    {name: "Udon Thani, TH-UTH"},
                    {name: "Ufa, RU-UFA"},
                    {name: "Ugashik, AK-UGS"},
                    {name: "Uherske Hradiste, CZ-UHE"},
                    {name: "Uige, AO-UGO"},
                    {name: "Ujae Island, MH-UJE"},
                    {name: "Ukunda, KE-UKA"},
                    {name: "Ulaanbaatar, MN-ULN"},
                    {name: "Umea, SE-UME"},
                    {name: "Unalakleet, AK-UNK"},
                    {name: "Upington, ZA-UTN"},
                    {name: "Urumqi, CN-URC"},
                    {name: "Uummannaq, GL-UMD"},
                    {name: "Uvalde, TX-UVA"},
                    {name: "Uyo, NG-QUO"},
                    {name: "Uzhhorod, UA-UDJ"},
                    {name: "Vancouver, BC-YVR"},
                    {name: "Venice, IT-VCE"},
                    {name: "Vienna, AT-VIE"},
                    {name: "Vladivostok, RU-VVO"},
                    {name: "Vladikavkaz, RU-OGZ"},
                    {name: "Volgograd, RU-VOG"},
                    {name: "Vredendal, ZA-VRE"},
                    {name: "Vung Tau, VN-VTG"},
                    {name: "Warsaw, PL-WAW"},
                    {name: "Washington, DC-WAS"},
                    {name: "Wellington, NZ-WLG"},
                    {name: "White Plains, NY-HPN"},
                    {name: "Winnipeg, MB-YWG"},
                    {name: "Worcester, MA-ORH"},
                    {name: "Wroclaw, PL-WRO"},
                    {name: "Wuhan, CN-WUH"},
                    {name: "Wyk Auf Fohr, DE-OHR"},
                    {name: "Xi'an, CN-SIA"},
                    {name: "Xiamen, CN-XMN"},
                    {name: "Xining, CN-XNN"},
                    {name: "Xuzhou, CN-XUZ"},
                    {name: "Yangon, MM-RGN"},
                    {name: "Yantai, CN-YNT"},
                    {name: "Yekaterinburg, RU-SVX"},
                    {name: "Yinchuan, CN-INC"},
                    {name: "Ylivieska, FI-YLI"},
                    {name: "Yogyakarta, ID-JOG"},
                    {name: "Yreka, CA-RKC"},
                    {name: "Yuzhno-Sakhalinsk, RU-UUS"},
                    {name: "Zagreb, HR-ZAG"},
                    {name: "Zemio, CF-IMO"},
                    {name: "Zhengzhou, CN-CGO"},
                    {name: "Zhuhai, CN-ZUH"},
                    {name: "Zielona Gora, PL-IEG"},
                    {name: "Zlin, CZ-GTW"},
                    {name: "Zonguldak, TR-ONQ"},
                    {name: "Zurich, CH-ZRH"}
                ];
            });
        </script>
</body>
</html>
